<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chahoo.datauploader.mapper.DataMapper">
    
    <select id="selectTest" resultType="Map" >
        select * from floor
    </select>



    <insert id="insertFloors" parameterType="hashMap">
        INSERT INTO floor_test
        select
            nextval('floor_id_seq') as floor_id
            , b.building_id as building_id
            , st_extent(st_union(
                st_makepoint(#{x1}::double precision
                , #{y1}::double precision) 
                , st_makepoint(#{x2}::double precision
                , #{y2}::double precision ))) as areas_geom
            , #{floor_order}::integer as floor_order
            , #{floor_name} as floor_name
            , now() as reg_date
        from 
            building_test b
        where
            building_name = #{building_name}
        group by b.building_id

    </insert>

    <insert id="insertBuilding" parameterType="hashMap">
        INSERT INTO building_test
        SELECT
            nextval('building_id_seq') as building_id
            ,#{building_name}
            ,#{building_category}

    </insert>
    
    <select id="isExistProdType" parameterType="String" resultType="Integer" >
        select count(*) from prod_type where prod_type_name = #{prodTypeName}
    </select>


</mapper>